@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
$fontFamily : 'Patua One', 'sans-serif';
$backgroundColor : #0a192f;
$foregroundColor : #64ffda;
$textColor : #e6f1ff;
$bold : 700px;
$normal : 400px;
$boxShadow1 : 3px 2px 14px rgba(255, 255, 255, 0.2);